a,
a:hover {
	color: #9C3537;
}

body {
	background: url('../img/escheresque.png');
	color: #444;
	font-family: Roboto, "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 18px;
	font-weight: 300;
	height: 100%;
	position: absolute;
	width: 100%;
}

footer {
	box-shadow: 0 -1px 15px black;
	font-size: 0.75em;
	padding: 5em 0 2em;
	text-align: center;
}

	.github-link {
		display: block;
		height: 64px;
		margin: 1em auto;
		width: 64px;
	}

		.github-link img {
			border-radius: 50%;
			transition: 0.5s;
			width: 64px;
		}

		.github-link:hover img {
			transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
		}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h2 {
	margin-top: 0;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	color: #444;
}

.contents {
	background: url('../img/nsfw.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	box-shadow: 0px 1px 1px black;
	color: white;
	height: 100%;
	overflow: hidden;
	position: relative;
}

	.contents a,
	.contents a:hover {
		color: inherit;
	}

	.contents h1 {
		margin: 0 0 0.15em;
	}

		.contents h1 a:hover {
			text-decoration: none;
		}

	.contents li {
		line-height: 1.4em;
	}

	.contents p {
		margin: 0.75em 0;
		opacity: 0.7;
	}

	.contents ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

		.contents ul li {
			display: inline;
		}

		.contents ul li:before {
			content: ' / ';
			margin: 0 0.5em;
			opacity: 0.5;
		}

		.contents ul li:first-child:before {
			display: none;
		}

	.contents .vcard {
		margin-top: 15%;
		padding: 1em;
		text-align: center;
	}

img {
	max-width: 100%;
}

section {
	min-height: 100%;
	padding: 2em 0;
	overflow: hidden;
}

@media screen and (max-width:768px) {
	.contents .vcard {
		position: static;
	}
}
