a,
a:hover {
	color: #EF6053;
}

body {
	background: url('../img/background.png');
	color: #444;
	font-family: Roboto, "Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 18px;
	font-weight: 300;
	height: 100%;
	position: absolute;
	width: 100%;
}

footer {
	color: #82786E;
	font-size: 0.75em;
	padding: 5em 0 2em;
	text-align: center;
}

	footer img {
		display: block;
		margin: 1em auto;
		width: 64px;
	}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h2 {
	margin-top: 0;
}

header {
	background: url('../img/header.jpg') center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	box-shadow: 0px 1px 1px black;
	color: white;
	height: 100%;
	overflow: hidden;
	position: relative;
}

	header a,
	header a:hover {
		color: inherit;
	}

	header h1 {
		margin: 0 0 0.15em;
	}

		header h1 a:hover {
			text-decoration: none;
		}

	header li {
		line-height: 1.4em;
	}

	header p {
		font-style: italic;
		margin: 0.75em 0;
		opacity: 0.7;
	}

	header ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

		header ul li {
			display: inline;
		}

		header ul li:before {
			content: '/';
			margin: 0 0.5em;
			opacity: 0.5;
		}

		header ul li:first-child:before {
			display: none;
		}

	header .more {
		bottom: 1em;
		left: 50%;
		margin-left: -30px;
		opacity: 0.15;
		position: absolute;
		transition: opacity 0.25s;
		width: 60px;
	}

	header .more:hover {
		opacity: 0.5;
	}

	header .vcard {
		background: rgba(0,0,0,0.2);
		padding: 1em;
		position: absolute;
		margin-top: 1em;
	}

img {
	max-width: 100%;
}

section {
	min-height: 100%;
	padding: 2em 0;
	overflow: hidden;
}

.projects {}

	.projects h2 {
		display: none;
	}

	.projects p {
		font-size: 1.1em;
	}

	.projects .row {
		margin-bottom: 2em;
		margin-top: 2em;
	}

.github-projects {
	background: url('../img/tweed.png') #303030;
	color: #eee;
}

	.github-projects a {
		color: #F0C096;
	}

	.github-projects h3 {
		font-size: 1.5em;
	}

	.github-projects .panel {
		color: #ccc;
		font-style: italic;
		margin: 2em 0;
		padding: 1em;
		text-align: center;
	}

@media screen and (max-width:768px) {
	header .vcard {
		position: static;
	}
}
