a,
a:hover {
	color: #8e1445;
}

body {
	background: #eee;
	color: #444;
	font-family: Arial, sans-serif;
}

footer {
	color: #aaa;
	font-size: 0.75em;
	margin: 5em 0 2em;
	text-align: center;
}

	footer img {
		display: block;
		margin: 1em auto;
		width: 64px;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: inherit;
}

h2 {
	margin-top: 0;
}

header {
	box-shadow: 0px 1px 1px black;
	color: white;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 1.2em;
	height: 500px;
	text-align: center;
	overflow: hidden;
	position: relative;
}

	header a,
	header a:hover {
		color: inherit;
	}

	header h1 {
		margin: 0 0 0.15em;
	}

	header li {
		line-height: 1.4em;
	}

	header p {
		font-size: 0.75em;
		font-style: italic;
		margin: 0.75em 0;
		opacity: 0.7;
	}

	header ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	header .image {
		background: url('../img/header.jpg') center center no-repeat;
		background-size: cover;
		height: 200%;
		position: absolute;
		top: 0;
		width: 100%;
	}

	header .vcard {
		background: rgba(0,0,0,0.4);
		bottom: 2em;
		left: 50%;
		margin: 0 -200px;
		padding: 0.5em;
		position: absolute;
		width: 400px;
	}

img {
	max-width: 100%;
}

section {
	padding: 2em 0;
}

#featured {
	background: url('../img/background.png');
}

	#featured h2 {
		display: none;
	}

	#featured .row {
		margin-bottom: 2em;
		margin-top: 2em;
	}

#projects {
	background: url('../img/tweed.png') #303030;
	color: #eee;
}

	#projects a {
		color: #8DC9EB;
	}

	#projects h3 {
		font-size: 1.5em;
	}

	#projects .panel {
		font-style: italic;
		margin: 2em 0;
		padding: 1em;
		text-align: center;
	}

@media screen and (max-width:768px) {
	header {
		margin-left: -20px;
		margin-right: -20px;
	}

	#featured .row {
		margin-bottom: 0;
		margin-top: 0;
	}

	#featured .row > * {
		margin-bottom: 2em;
	}
}
